@media Screen and (min-width: 400) and (max-width: 200) {

}

@media Screen and (min-width: 2000) and (max-width: 1000) {

}

h1 {
  background-color: gray;
}

title {
  background-color: grey;
}

body {
  background: url(Newport.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}