@media Screen and (min-width: 400) and (max-width: 200) {

}

@media Screen and (min-width: 600) and (max-width: 6000) {

}
html {
  font-family:sans-serif;
  background: url(Newport.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  max-width: 1500px
}

div1 {
  font-style: italic;
}

h1 {
  background-color: gray;
  border-style: inset;
  font-size: 5vw;
  width: auto;
  padding: 20px;
  margin: 20px;
  min-width: 400;
}

title {
  background-color: grey;
}

body {
  background: url(Newport.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  width: auto;
  padding: 10px;
  margin: 20px;
}

h1 {
  background-color: grey;
  border-style: groove;
  width: auto;
  padding: 10px;
  margin: 20px;
  min-width: 400;
}

li {
  background-color: gray;
  border-style: inset;
  width: 300px;
  padding: 20px;
  margin: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
